.navBarContainer {
display: flex ;
box-sizing: border-box;
width:100%;
justify-content: space-between;
padding: 0 40px;
align-items: center;
background-color: #2E2E2E;
position: fixed;
top: 0;
z-index: 5;
height: 64px;
}

.logo {
width: 48px;
height: 48px;
}

.menu {
display: flex;
align-items: center;
}

.navBarContainer div a {
text-decoration: none;
color: white;
font: bold 16px Georgia, serif;
}
.menu .home, .menu .today, .menu .week{
padding: 16px;
}

.hamburgerContainer {
position: fixed;
top: 0;
right: 0;
margin-right: 16px;
display: flex;
justify-content: right;
height: 64px;
align-items: center;
z-index: 999;
color: white;
}

@media only screen and (max-width:768px) {

#menu {
top: 0;
left: -250px;
width: 250px;
height: 100vh;
flex-direction: column;
align-items: flex-start;
background-color: #2E2E2E;
z-index: 999;
opacity: 0.8;
position: fixed;
transition: 0.4s;
}
}

@media only screen and (max-width:425px) {

#menu {
width: 50%;
left: -50%
}
}