.headers {
margin: 16px 24px 16px 24px;
font: italic bold 18px Georgia, serif;
}

.todayDetails {
display: flex;
gap: 16px 0;
flex-direction: row;
flex-wrap: wrap;
margin: 8px 24px 32px 24px;
justify-content: space-between;
}

.swiper {
margin: 16px 18px;
padding: 6px;
position: relative;
}

@media only screen and (max-width: 425px) {
.todayDetails {
    flex-direction: column;
}
}


