.uvDetailsCardContainer {
border-radius: 3px;
border: 1px solid black;
box-shadow: 2px 3px 3px 3px gray;
background-color: white;
border-radius: 4px;
background-color: white;
width: 32%;
min-width: 280px;
height: 150px;
}

.uvCardHeader {
margin-left: 16px;
margin-top: 16px;
font: italic small-caps bold 16px Georgia, serif;
color: gray;
}

@media screen and (max-width: 426px) {
.uvDetailsCardContainer {
width:100%;
}
}

@media screen and (min-width: 426px) and (max-width: 768px){
.uvDetailsCardContainer {
min-width: 215px;
width:48%;
}
}

@media screen and (min-width: 769px) and (max-width: 1024px){
.uvDetailsCardContainer {
min-width: 200px;
width:48%;
}
}

@media screen and (min-width: 1025px){
.uvDetailsCardContainer {
min-width: 215px;
width:32%;
}
}

