.weekHeaders {
margin: 16px 24px 16px 24px;
font: italic bold 18px Georgia, serif;
}

.weekPageContainer {
animation-name: slidePageUp;
animation-duration:1000ms;
}

@keyframes slidePageUp {
	from { transform: translateY(150px)}
	to   { transform: translateY(0)}
}

.weekTodayDetails {
display: flex;
gap: 16px 0;
flex-direction: row;
flex-wrap: wrap;
margin: 8px 24px 32px 24px;
justify-content: space-between;
}

@media only screen and (max-width: 425px) {
.weekTodayDetails{
flex-direction: column;
}
}


