.windDetailsCardContainer
{
border-radius: 3px;
border: 1px solid black;
box-shadow: 2px 3px 3px 3px gray;
border-radius: 4px;
background-color: white;
width: 32%;
min-width: 280px;
height: 150px;
}
.card{
height: 100%;
display: flex;
flex-flow: column;
justify-content: space-between;
}

.header
{
margin-left: 16px;
margin-top: 16px;
font: italic small-caps bold 16px Georgia, serif;
color: gray
}

.windSpeedContainer, .windDirectionContainer
{
display: flex;
align-items: center;
margin-left: 16px
}

.windSpeedContainer img {
height: 40px;
width: 40px;
}

.windSpeed ,  .humidity{
font: italic small-caps 32px Georgia, serif;
color: black;
}

.windSpeedContainer span{
font: italic  24px alegreya, serif !important;
margin-left: 2px !important;
color: black !important;
}

.windDirectionContainer{
margin-bottom: 16px;
}

.windDirectionContainer p{
font: italic 12px Georgia, serif;
}

.windDirectionContainer img {
height: 24px;
width: 24px;
margin-right: 8px;
}

@media screen and (max-width: 426px) {
.windDetailsCardContainer{
width:100%;
}
}

@media screen and (min-width: 426px) and (max-width: 768px) {
.windDetailsCardContainer{
min-width: 215px;
width:48%;
}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
.windDetailsCardContainer{
min-width: 200px;
width:48%;
}
}

@media screen and (min-width: 1025px) {
.windDetailsCardContainer{
min-width: 215px;
width:32%;

}
}


